@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: black;
}
.mainNav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 40px;
    position: fixed;
    padding-top : 35px;
    padding-bottom : 20px;
    z-index: 10;
    backdrop-filter: blur(10px);
    background-color: black;
}

@media screen and (max-width: 799px) {
    .mainNav {
        padding: 0 20px;
   }
}
.mainNav__logo{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}

.mainNav__links {
    display: flex;
}
@media screen and (max-width: 799px) {
    .mainNav__links {
        display: none;
   }
}

.mainNav__links :hover {
    color: black;
}

.mainNav__link {
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;
    transform: translateY(0px);
}
.mainNav__link:hover {
    transform: translateY(-5px);
    box-shadow: inset 0px -20px 0px white;
}

.mainNav__icon {
    background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
@media screen and (max-width: 799px) {
    .mainNav__icon {
        display: block;
   }
}

.stay-tuned {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
    color: white;
}

.main { 
    color: silver;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right:40px;
    font-size: 50px;
}

.main img {
    width: 500px;
    height: 500px;
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.post img {
    border-radius: 10%;
}

.solution-section {
    color: white;
    margin-top: 90px;
    text-align: center;
}
.sol {
    font-size: 100px;
}

.text {
    font-size: 50px;
}

.button button {
    width : 400px;
    height : 100px;
    margin-top: 70px;
    color : black;
    font-size: 70px;
    background-color: white;
    border-radius: 20px;
}

.button button:hover {
    background-color: #f0f0f0;
}
